@import "tailwindcss";

@font-face {
    font-family: 'Plus Jakarta';
    src: url('/font/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Plus Jakarta';
    src: url('/font/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 100 900;
}

:root {
    color-scheme: light dark;
}

html,
body {
    font-family: 'Plus Jakarta', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    background-color: light-dark(white, var(--color-zinc-900));
}

i.bi {
    display: flex;
    justify-content: center;
    align-items: center;
}