@import "tailwindcss";

@font-face {
    font-family: 'Plus Jakarta';
    src: url('/font/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Plus Jakarta';
    src: url('/font/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 100 900;
}

@custom-variant picker {
    &::picker(select) {
        @slot;
    }
}

@custom-variant picker-icon {
    &::picker-icon {
        @slot;
    }
}

@custom-variant checkmark {
    &::checkmark {
        @slot;
    }
}

@utility appearance-base-select {
    appearance: base-select;
}

@utility interpolate-keywords {
    interpolate-size: allow-keywords;
}

:root {
    color-scheme: light dark;
}

html,
body {
    font-family: 'Plus Jakarta', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: light-dark(white, var(--color-zinc-900));
}

i.bi {
    display: flex;
    justify-content: center;
    align-items: center;
}