@import "tailwindcss";

:root {
    color-scheme: light dark;
}

html,
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: light-dark(white, var(--color-zinc-900));
}

i.bi {
    display: flex;
    justify-content: center;
    align-items: center;
}