@import "tailwindcss";

@font-face {
    src: url('/font/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-family: 'Montserrat';
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;    
}

@font-face {
    src: url('/font/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-family: 'Montserrat';
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@theme {
    --text-montserrat: 'Montserrat', 'Segoe UI', Helvetica, Arial, sans-serif;
}

@utility chevron-right {
    content: '\203A' !important;
    font-size: 1.5rem;
    padding-block-end: 0.25rem;
    padding-inline: 0.5rem;
}

:root {
    color-scheme: light dark;
}

html,
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-color: light-dark(var(--color-indigo-50), var(--color-slate-900));
    color: light-dark(black, white);
    font-family: var(--text-montserrat);
}
