:scope {
    --delay: 200ms;
}

.toggle {
   height: 1.25rem;
   width: 2.25rem;
   border-radius: calc(infinity * 1px);
   background-color: var(--color-zinc-500);
   position: relative;
   display: flex;
   align-items: center;
   cursor: pointer;
   transition: transform var(--delay) ease;
}

.toggle::after {
    margin: 2px;
    content: '';
    position: absolute;
    box-shadow: inset -1px -1px  1px var(--color-zinc-400);
    height: 1rem;
    width: 1rem;
    background-color: var(--color-zinc-200);
    border-radius: calc(infinity * 1px);
    transition: transform var(--delay) ease;
}

:global(.group):has(*:checked) .toggle {
   background-color: var(--color-indigo-500);
}

:global(.group):not(:has(*:checked)) .toggle::after {
    transform: translateX(0);
}

:global(.group):has(*:checked) .toggle::after {
    transform: translateX(100%);
}